img {
    width:45vw;
    height:45vh;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    background-color:royalblue;
    color:white;
    cursor: pointer;
}