<div class="left-content">
  <div class="form-group-row">
  </div>
  <div class="col-md-10 ml-5">
    <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)">
    </file-drop>
    <div class="form-group mt-2">
      Or if you can't use that:
      <label for="file-upload" class="custom-file-upload">
        Upload
      </label>
      <input id="file-upload" pButton type="file" (change)="buttonFileUpload($event.target.files)">
    </div>
    <img *ngIf="src" [src]="src" />
    <div class="row float-lg-right mt-2">
      <button *ngIf="src" pButton class="ui-button-danger mr-2" icon="pi pi-times" iconPos="left" label="Cancel"
        (click)="refresh()"></button>
      <button *ngIf="src" pButton class="ui-button-success" icon="pi pi-list" iconPos="left" label="Extract code"
        (click)="sendData()"></button>
    </div>
  </div>
</div>
<div class="right-content">
  Google Vision API result<br>
  <button pButton icon="pi pi-copy" iconPos="left" label="Copy to clipboard" (click)="copyGoogleToClipboard()"></button>

  <ace-editor [(text)]="textGoogle" style="height:20vh"></ace-editor><br>
  Final result<br>
  <button pButton icon="pi pi-copy" iconPos="left" label="Copy to clipboard" (click)="copyToClipboard()"></button>
  <ace-editor [(text)]="text" style="height:30vh;"></ace-editor>
  <div *ngIf="isLoading" class="loading"><span class="loading-text">{{message}}</span></div>
  <div *ngIf="shareLink" class="ui-inputgroup mt-3">
    <span class="ui-inputgroup-addon">Link</span>
    <input #link type="text" readonly pInputText [(ngModel)]="shareLink" class="col-10">
    <span (click)="copyLink(link)" class="ui-inputgroup-addon"><i class="pi pi-copy"></i></span>
  </div>
</div>