<div class="left-content">
  <div class="col-md-10 ml-5">
    <img *ngIf="src" [src]="src" alt="Original photo" />
  </div>
</div>
<div class="right-content">
  Google Vision API result<br>
  <button pButton icon="pi pi-copy" iconPos="left" label="Copy to clipboard" (click)="copyGoogleToClipboard()"></button>

  <ace-editor [(text)]="textGoogle" style="height:20vh"></ace-editor><br>
  Final result<br>
  <button pButton icon="pi pi-copy" iconPos="left" label="Copy to clipboard" (click)="copyToClipboard()"></button>
  <ace-editor [(text)]="text" style="height:30vh;"></ace-editor>
</div>