<div class="logo-div">
    <img src="../../../../../assets/images/ubb-logo.png" style="width:30%;height:80%;position:absolute;left:2rem">

    <img src="../../../../../assets/images/fmi-logo.png" style="width:8%;height:80%;position:absolute;right:2rem">
</div>
<div class="top-nav">
    <span class="new" (click)="refresh()">New</span>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>