/* You can add global styles to this file, and also import other style files */
.main-container {
    position: absolute;
    top: 19%;
    left:0;
    right: 0;
    bottom: 0;
    padding: 0;
    display: block;
}
.left-content{
    float: left;
    top:0;
    width:60%;
    left:0;
    bottom: 0;
    padding: 20px;
    height: 100%;
}
.right-content{
    float: right;
    top:0;
    width:40%;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 20px;
}
.loading{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    z-index: 9999;
    left:60%;
    width:40%;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    opacity: 0.98;
    background-color: rgb(245, 245, 245);
}
.loading-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.logo-div {
    position: absolute;
    width:100%;
    height:14%;
    padding: 10px;
    left:0;
    right:0;
    bottom: 0;
    top:0;    
}
.top-nav{
    position: absolute;
    text-align: left;
    vertical-align: middle;
    width:100%;
    height:5%;
    padding: 1vh;
    left:0;
    right:0;
    bottom: 0;
    top:14%;
    color:white;
    background-color: royalblue;
}
@media (max-width: 600px) {
    .left-content, .right-content {
      width: 100%;
      height: auto;
    }
  }